/* Default styling for all H's */
h1, h2, h3, h4, h5, h6
{
    font-family: Tahoma, Geneva, sans-serif; 
    color: #000099;
}

/* Default hover action for links */
a:hover
{
    color: red;
    text-decoration: none;
}

/* Default link styling */
a
{
    color: #000099;
    text-decoration: none;
}

/* Default paragraph styling */
p
{
    text-align: justify;
    text-justify: inter-word;    
}

/* Control the overall size, decreased by .4 to allow perspective view */
html, body 
{
    max-width: 99.6%;
}

/* Default body styling, generally for background */
body
{
    display: block;
    overflow-x:hidden;
    overflow-y:auto;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;    
    height: content-box;
    width: 95%;
    min-width: 1024px;
}

/* Fancy hr line, used inside main area */
hr
{    
    border: 0;
    height: 2px;
    /* Gradient */
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));    
}

/* Fancy white lines used in the menu, we simulate a glow effect */
hr.menu 
{
    height: 2px;
    border: 10px;
    background-color: white;
    -moz-box-shadow:    0 0 4px 1px white;
    -webkit-box-shadow: 0 0 4px 1px white;
    box-shadow:         0 0 4px 1px white;    
}

/* Header styling ID */
#header
{
    z-index: -1;
    width: 99%;
    height: 425px;
    min-width: 1024px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #888888;
    background-image: url(header_circuit_board_.jpg);
    background-size: cover;
}

/* Header styling insde */
.inside_header
{
    margin: 0 auto;
    margin-top: 128px;
    width: 1024px;
    height: 296px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}

/* Header styling H1 */
h1.header
{
    position: absolute;
    right: 50px;
    left: 50px;
    top: 144px;
    bottom: 112px;
    text-align: center;
    font-weight: bold;
}

/* Footer styling ID */
#footer
{
    width: 1024px;
    position: relative;
    top: -200px;
    text-align: center;
    background-color: #CEDEFF;
    //width: 1024px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #888888;
    /* Gradient */
    background: -webkit-linear-gradient(left, white, Lavender); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, Lavender); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, Lavender); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, Lavender); /* Standard syntax (must be last) */    
}

/* Main area styling ID */
#maintable
{
    position: relative;
    top: -200px;
    width: 1024px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;    
    box-shadow: 2px 2px 2px #888888;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Gradient */
    background: -webkit-linear-gradient(left, white, Lavender); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, Lavender); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, Lavender); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, Lavender); /* Standard syntax (must be last) */    
}

/* This is a place holder for nav */
.nav-container
{ 
    //background: url('images/nav_bg.jpg') repeat-x 0 0;
}

/* this make our menu fixed top */
.f-nav
{ 
    z-index: 9999; 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%;
}

/* Shaded box used for shadow style */
.shaded_box
{
    border:1px solid black;
    box-shadow: 2px 2px 2px #888888;
}

/* Used to style the td's in the menu area */
.maintable_menu
{
    background-color: #0066CC;
    width: 128px;
    top: 5%;
    left: 5%;
    vertical-align:top;
    color:white;
    text-align: center;
    /* Gradient */
    background: -webkit-linear-gradient(left, darkblue , #0066CC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, darkblue, #0066CC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, darkblue, #0066CC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, darkblue , #0066CC); /* Standard syntax (must be last) */    
}

/* Style td's in the rest of the main table */
td.maintable_info
{
    vertical-align:top;
    width: 100%; //1024px; /* 1024 - 128 */
}

/* Links styling in the menu */
a.menu_link
{
    font-family: Tahoma, Geneva, sans-serif; 
    color: white;
}

/* Link styling in the main area */
a.maintable_info
{
    font-family: Tahoma, Geneva, sans-serif; 
    padding-left: 50px;
    padding-right: 10px; 
}

/* Footer spacing for H6 */
h6.footer
{
    margin: 5px;
}

/* Footer link styling */
a.footer
{
    font-family: Tahoma, Geneva, sans-serif; 
}

/* Big links in main page */
a.big_links:hover
{
    text-decoration: none;    
}

/* Big links in main page */
.big_links:hover
{
    color: red;
    text-decoration: none;    
}

/* Main table paragraph styling */
p.maintable_info
{
    padding-left: 10px;
    padding-right: 10px;
}

/* General class for the end of page notes */
.end_of_page
{
    position: relative;
    top: -210px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 8pt;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

/* HR styling for main area */
h3.maintable_info
{
    padding-left: 10px;
}

/* H3 no hover effect for main area */
h3.maintable_info_no_hover
{
    padding-left: 10px;
}

/* Default H3 hover styling */
h3.maintable_info:hover
{
    font-weight: bolder;
    text-decoration: none;
    color: red;        
}

/* Un-ordered list in main area styling */
ul.maintable_info
{
    padding-left: 50px;    
}

/* TD styling 1 in assignment 1 */
td.as1
{
    border:1px solid black;
    text-align: center;
    font-weight: bolder;
    padding: 0px;
}

/* TD for profile pic in group project */
td.as3
{
    text-align: center;
    padding: 0px;
}

/* TD styling 2 in assignment 1 */
td.as2
{
    border:1px solid black;
    text-align: center;
    padding: 0px;
}

/* Styling for image in assignment 1 */
img.profile_image
{
    border:1px solid black;
    box-shadow: 2px 2px 2px #888888;
}

/* Shading effect for any table */
table.shaded_table
{
    border:1px solid black;
    box-shadow: 2px 2px 2px #888888;
    width:650px; 
    margin: 0 auto;
    text-align: center;
    border-collapse: separate;
}

/* Shading effect for any table */
.shaded_div
{
    border:1px solid black;
    box-shadow: 2px 2px 2px #888888;
    width:650px; 
    margin: 0 auto;
    text-align: center;
    border-collapse: separate;
}

/* Form style throughout our site */
form
{
    margin:0 auto;
    width: 650px;
    border:1px solid black;
    box-shadow: 2px 2px 2px #888888;
}

/* Input tags for submit and reset buttons styling */
input[type='submit'], input[type='reset']
{
    width: 200px;
}

/* Text area styling */
input[type=text], input[type=password]
{
    width: 100%;
}

/* In-form H4 styling, for required text in form */
h4.in_form_req_text
{
    text-align: right;
    color: red;
    font-size: 10px;
    padding-right: 20px;
    font-weight: lighter;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* H4 styling in the form */
h4.in_form
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Text area styling */
textarea.in_form
{
    width: 100%;
    height: 100px;
    resize: none;    
}

/* Blog like blocks, should be floating */
.blog_box_with_border
{
    margin-left: 4%;
    margin-right: 4%;
    border: 1px solid black;
    margin-top:  -1px;
    background: rgb(229,229,229); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* Blog like blocks, should be floating */
.blog_box_border
{
    border: 2px black outset;
    margin: 0;
}

/* Blog like blocks, should be floating */
.blog_box_glass
{
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}

/* Text shadow for main menu */
.text-shadow
{
    text-shadow: 1px 1px 1px rgba(88, 88, 88, 1);
}

/* This is to style the canvas */
canvas 
{
    width: 300px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:1px solid black;
    box-shadow: 2px 2px 2px #888888;
}